html
{
	overflow:hidden;
}


circle {
  /*fill: steelblue;*/
  stroke: #666;
  stroke-width: 1.5px;
}

#fps {
	
	position:absolute;
	
	z-index:100;
}

#game_container {
	
	position:absolute;
	
	/*top:0;
	left:0;
	
	background-color:darkgrey;*/
	
	
}

	#cockpit {
		
		position:absolute;
		
		
		
	}

		#cockpit_window {
			
			position:absolute;
			
			overflow:hidden;
			
			border-radius:90%;
			
			background:blue;
			
			
		}
		
			#game_canvas
			{
				position:absolute;
					
				border-radius:90%;
				
				overflow:hidden;
			}

		#cockpit_window_details {
			
			position:absolute;
			
			pointer-events: none;
		}
		
		.explosion {
			
			
			stroke-width:2;
		}

/*Test. Destroy after use*/
h1 {
  position: absolute;
  top: 280px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 960px;
}
