html
{
	overflow:hidden;
}

#game_canvas
{
	position:absolute;
		
	background: rgba(0,0,255,0.1);
}


circle {
  /*fill: steelblue;*/
  stroke: #666;
  stroke-width: 1.5px;
}

#fps {
	
	position:absolute;
	
}
