html
{
	overflow:hidden;
}


circle {
  /*fill: steelblue;*/
  stroke: #666;
  stroke-width: 1.5px;
}

#fps {
	
	position:absolute;
	
	z-index:100;
}

#game_container {
	
	position:absolute;

	background-color:darkgrey;
	
	
	
}

	#cockpit {
		
		position:absolute;
		
		
		
	}

		#cockpit_window {
			
			position:absolute;
			
			overflow:hidden;
			
			border-radius:90%;
			
			background:blue;
			
			
		}
		
			#game_canvas
			{
				position:absolute;
					
				
			}

		#cockpit_window_details {
			
			position:absolute;
			
			pointer-events: none;
		}
		
		.explosion {
			
			
			stroke-width:2;
		}

